.appearsBoxesContainer {
  opacity: 0;
  .boxesContainer {
    width: 0;
    height: 100px;
  }
}

.boxesContainerVisible {
  opacity: 1;
  animation: appearsBoxesContainer 2.5s linear;
  position: relative;
  bottom: calc(3.75rem);
  .boxesContainer {
    width: 500px;
    height: 500px;
    @include small {
      width: 550px;
      height: 550px;
    }
    @include medium {
      width: 600px;
      height: 600px;
    }
    @include large {
      width: 700px;
      height: 700px;
    }
    @include xLarge {
      width: 800px;
      height: 800px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appearsBoxesContainer {
  0% {
    transform: translateX(-100%) rotate(-180deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.boxesContainer {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  animation: rotate infinite 100s linear;
}

.boxes {
  perspective: 150rem;
}

.box {
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(30deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.active.box {
  top: 0;
  left: 0;
  transition: all 1s;
}

.box-1 {
  top: calc(-7.5rem - 10vw);
  left: 0rem;
  animation: boxAnim 100s infinite linear;
  @include xLarge {
    top: -15rem;
  }
}

.box-2 {
  top: calc(-5rem - 7.5vw);
  left: calc(5rem + 7.5vw);
  animation: boxAnim 100s -10s infinite linear;
  @include xLarge {
    top: -10.625rem;
    left: 10.625rem;
  }
}

.box-3 {
  top: calc(5rem + 7.5vw);
  left: calc(-5rem - 7.5vw);
  animation: boxAnim 100s -20s infinite linear;
  @include xLarge {
    top: 10.625rem;
    left: -10.625rem;
  }
}

.box-4 {
  top: 0rem;
  left: calc(-7.5rem - 10vw);
  animation: boxAnim 100s -30s infinite linear;
  @include xLarge {
    left: -15rem;
  }
}

.box-5 {
  top: 0rem;
  left: calc(7.5rem + 10vw);
  animation: boxAnim 100s -40s infinite linear;
  @include xLarge {
    left: 15rem;
  }
}

.box-6 {
  top: calc(-5rem - 7.5vw);
  left: calc(-5rem - 7.5vw);
  animation: boxAnim 100s -50s infinite linear;
  @include xLarge {
    top: -10.625rem;
    left: -10.625rem;
  }
}

.box-7 {
  top: calc(5rem + 7.5vw);
  left: calc(5rem + 7.5vw);
  animation: boxAnim 100s -60s infinite linear;
  @include xLarge {
    top: 10.625rem;
    left: 10.625rem;
  }
}
.box-8 {
  top: calc(7.5rem + 10vw);
  left: 0rem;
  animation: boxAnim 100s -70s infinite linear;
  @include xLarge {
    top: 15rem;
  }
}

.box div {
  width: 3rem;
  height: 3rem;
  position: absolute;
  opacity: 0.8;
  box-shadow: 0.1rem 0.1rem 0.1rem $colorPrimary inset,
    -0.1rem -0.1rem 0.1rem $colorPrimary inset,
    0.1rem 0.1rem 3.5rem rgba(0, 0, 0, 0.2),
    -0.1rem -0.1rem 3.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorLight;
  transition: all 0.2s 1s ease-in-out;
  @include medium {
    width: 4rem;
    height: 4rem;
  }
  @include large {
    width: 5rem;
    height: 5rem;
  }
  img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

.top-side {
  transform: rotateX(90deg) translateZ(1.5rem);
  @include medium {
    transform: rotateX(90deg) translateZ(2rem);
  }
  @include large {
    transform: rotateX(90deg) translateZ(2.5rem);
  }
}

.bottom-side {
  transform: rotateX(90deg) translateZ(-1.5rem);
  @include medium {
    transform: rotateX(90deg) translateZ(-2rem);
  }
  @include large {
    transform: rotateX(90deg) translateZ(-2.5rem);
  }
}

.front-side {
  transform: translateZ(1.5rem);
  @include medium {
    transform: translateZ(2rem);
  }
  @include large {
    transform: translateZ(2.5rem);
  }
}

.back-side {
  transform: translateZ(-1.5rem);
  @include medium {
    transform: translateZ(-2rem);
  }
  @include large {
    transform: translateZ(-2.5rem);
  }
}

.right-side {
  transform: rotateY(-90deg) translateX(1.5rem);

  transform-origin: right;
  @include medium {
    transform: rotateY(-90deg) translateX(2rem);
  }
  @include large {
    transform: rotateY(-90deg) translateX(2.5rem);
  }
}

.left-side {
  transform: rotateY(90deg) translateX(-1.5rem);
  transform-origin: left;
  @include medium {
    transform: rotateY(90deg) translateX(-2rem);
  }
  @include large {
    transform: rotateY(90deg) translateX(-2.5rem);
  }
}

.active.box div {
  width: 6rem;
  height: 6rem;
  transition: all 0.2s 1s ease-in-out;
  position: absolute;
  @include medium {
    width: 7rem;
    height: 7rem;
  }
  @include large {
    width: 8rem;
    height: 8rem;
  }
}

.active .top-side {
  transform: rotateX(90deg) translateZ(3rem);
  @include medium {
    transform: rotateX(90deg) translateZ(3.5rem);
  }
  @include large {
    transform: rotateX(90deg) translateZ(4rem);
  }
}

.active .bottom-side {
  transform: rotateX(90deg) translateZ(-3rem);
  @include medium {
    transform: rotateX(90deg) translateZ(-3.5rem);
  }
  @include large {
    transform: rotateX(90deg) translateZ(-4rem);
  }
}

.active .front-side {
  transform: translateZ(3rem);
  @include medium {
    transform: translateZ(3.5rem);
  }
  @include large {
    transform: translateZ(4rem);
  }
}

.active .back-side {
  transform: translateZ(-3rem);
  @include medium {
    transform: translateZ(-3.5rem);
  }
  @include large {
    transform: translateZ(-4rem);
  }
}

.active .right-side {
  transform: rotateY(-90deg) translateX(3rem);
  transform-origin: right;
  @include medium {
    transform: rotateY(-90deg) translateX(3.5rem);
  }
  @include large {
    transform: rotateY(-90deg) translateX(4rem);
  }
}

.active .left-side {
  transform: rotateY(90deg) translateX(-3rem);
  transform-origin: left;
  @include medium {
    transform: rotateY(90deg) translateX(-3.5rem);
  }
  @include large {
    transform: rotateY(90deg) translateX(-4rem);
  }
}

.dark {
  .box div {
    box-shadow: 0.1rem 0.1rem 0.1rem $colorDarkPrimary inset,
      -0.1rem -0.1rem 0.1rem $colorDarkPrimary inset,
      0.1rem 0.1rem 3.5rem rgba(255, 255, 255, 0.2),
      -0.1rem -0.1rem 3.5rem rgba(255, 255, 255, 0.2);
  }
}
