@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shiftToTheLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes shiftToTheLeftBig {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
