@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes boxAnim {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes shiftToTheLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes shiftToTheLeftBig {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
