/* ***************** COLORS ***************** */
$colorPrimary: #145da0;
$colorPrimaryDarken: darken($colorPrimary, 15%);
$colorPrimaryLighten: lighten($colorPrimary, 15%);

$colorSecondary: #959595;
$colorSecondaryDarken: darken($colorSecondary, 20%);

$colorLight: #eee;
$colorDark: #333;

$colorDarkPrimary: #09fbba;
$colorDarkPrimaryDarken: darken($colorDarkPrimary, 20%);
$colorDarkPrimaryLighten: lighten($colorDarkPrimary, 20%);

/******************* HEADER HEIGHT *******************/
$headerHeightXSmall: 9.375rem;
$headerHeightSmall: 7.375rem;
$headerHeightMedium: 10.5rem;
$headerHeightLarge: 12.75rem;
$headerHeightXLarge: 14.75rem;

/* ***************** FONT-SIZE ***************** */
$fontSizeXSmall: 1rem;
$fontSizeSmall: 1.2rem;
$fontSizeMedium: 1.4rem;
$fontSizeLarge: 1.6rem;
$fontSizeXLarge: 1.8rem;

/* ***************** GAP ***************** */
$gapSmall: 1rem;
$gap: 2rem;

/* ***************** H1 HEIGHT ***************** */
$h1Height: 2.3125rem;
