.progressContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.techImg {
  width: 30px;
  height: 30px;
  object-fit: contain;
  @include small {
    width: 40px;
    height: 40px;
  }
  @include xLarge {
    width: 50px;
    height: 50px;
  }
}

.techName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @include small {
    width: 40px;
    height: 40px;
  }
  @include xLarge {
    width: 50px;
    height: 50px;
  }
}

.progress {
  height: 30px;
  width: 100%;
  background: #d8d8d8;
  border-radius: 20px;
  opacity: 0;
}

.progressVisible {
  opacity: 1;
  transition: 0.5s ease;
}

.progress-done {
  background: linear-gradient(
    to left,
    $colorPrimaryLighten,
    $colorPrimaryDarken
  );
  box-shadow: 0 3px 3px -5px $colorPrimaryDarken, 0 2px 5px $colorPrimaryLighten;
  border-radius: 20px;
  height: 100%;
  opacity: 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.05s ease;
  color: white;
  font-size: calc(0.5rem + 1vw);
  @include small {
    font-size: calc(1rem + 1vw);
  }
  @include xLarge {
    font-size: 1.8rem;
  }
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Trirong', serif;
  }
}

// DARK MODE
.dark {
  .techImg {
    filter: invert(1);
  }
  .progress-done {
    color: $colorDark;
    background: linear-gradient(
      to left,
      $colorDarkPrimaryLighten,
      $colorDarkPrimaryDarken
    );
    box-shadow: 0 3px 3px -5px $colorDarkPrimaryDarken,
      0 2px 5px $colorDarkPrimaryLighten;
  }
}
