.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  .mailAndCV {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
    .buttonLink {
      width: 90%;
      max-width: 400px;
      font-size: calc(0.65rem + 1vw);
      min-height: 50px;
    }
  }

  .other {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: $gapSmall;
    height: 100%;
    justify-content: space-around;
  }
}

@include medium {
  .contactContainer {
    flex-direction: row;
    justify-content: space-around;
    .mailAndCV {
      width: 40%;
    }
    .other {
      width: 45%;
    }
  }
}
