#home {
  align-items: center;
  color: $colorPrimary;
  display: flex;
  flex-direction: column;
  gap: $gap;
  overflow: hidden;
  #wrapperH1LogoLinks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: $gapSmall;
    height: calc(100vh - $headerHeightXSmall - $gap);
    @include small {
      height: calc(100vh - $headerHeightSmall - $gap);
    }
    @include medium {
      height: calc(100vh - $headerHeightMedium - $gap);
    }
    h1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: calc(1rem + 6vw);
      justify-content: space-around;
      gap: $gapSmall;
      perspective: 500px;

      @include small {
        align-items: unset;
      }
      @include xLarge {
        font-size: 100px;
      }
    }

    @keyframes show {
      from {
        opacity: 0;
        transform: rotateX(120deg);
      }
      to {
        opacity: 1;
        transform: rotateX(0);
      }
    }

    span {
      display: flex;
    }

    .titleAppears {
      animation: show 0.8s forwards;
      animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
      display: block;
      opacity: 0;
      transform-origin: 50% 100%;
      transform: rotateX(120deg);
      text-shadow: calc(0.1rem + 0.1vw) calc(0.1rem + 0.1vw) rgb(110, 110, 110);
    }

    .titleAppears:nth-of-type(2) {
      animation-delay: 0.8s;
      color: $colorPrimaryLighten;
      padding: 0 2rem;
      font-family: 'Trirong', serif;
    }
  }
}

.dark {
  #home {
    #wrapperH1LogoLinks {
      h1 {
        .titleAppears:nth-of-type(2) {
          color: $colorDarkPrimaryDarken;
        }
      }
    }
  }
}
