.header {
  display: flex;
  // flex-direction: column;
  // height:200px;
  // background-color: #0048e8;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  @include medium {
    height: 200px;
  }
  @include large {
    height: 250px;
  }
  @include xLarge {
    height: 300px;
  }
  .logo {
    width: 150px;
    @include medium {
      width: 200px;
    }
    @include large {
      width: 250px;
    }
    @include xLarge {
      width: 300px;
    }
  }
  .navHeader {
    font-family: 'Gagalin';
display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    @include small {
      flex-direction: row;
      width: 100%;
    }
    @include medium {
      font-size: 20px;
    }
    @include large {
      font-size: 25px;
    }
    @include xLarge {
      font-size: 30px;
    }
    .navActive {
      
      color: darken($colorPrimary, 10%);
      transform: scale(1.1);
    }
  }
}
