$headerHeightSmall: 9.375rem;
$headerHeightMedium: 12.5rem;
$headerHeightLarge: 15.625rem;
$headerHeightXLarge: 18.75rem;

.header {
  position: relative;
  align-items: center;
  display: flex;
  height: $headerHeightSmall;
  justify-content: space-between;
  @include medium {
    height: $headerHeightMedium;
  }
  @include large {
    height: $headerHeightLarge;
  }
  @include xLarge {
    height: $headerHeightXLarge;
  }
  .logo {
    background: url('../../assets/logo.png');
    background-size: cover;
    display: flex;
    height: 100%;
    width: 9.375rem;
    @include medium {
      width: 12.5rem;
    }
    @include large {
      width: 15.625rem;
    }
    @include xLarge {
      width: 18.75rem;
    }
  }
  .navHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.9375rem;
    height: 100%;
    justify-content: space-around;
    width: 9.375rem;
    @include small {
      flex-direction: row;
      width: 100%;
    }
    @include medium {
      font-size: 1.25rem;
    }
    @include large {
      font-size: 1.5625rem;
    }
    @include xLarge {
      font-size: 1.875rem;
    }
    .navActive {
      color: darken($colorPrimary, 10%);
      transform: scale(1.1);
    }
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.0625rem;
  width: 100%;
  background: darken($colorPrimary, 10%);
  // background: lighten(#18aeca, 50%)
  // transform: rotate(45deg)
}

// TRANSITIONS

.logo,
.line {
  transition: 5s linear;
}

// DARK MODE
.dark {
  .header {
    .logo {
      background: url('../../assets/logoDark.png');
      background-size: cover;
    }
    .navActive {
      color: $colorDarkSecondary;
    }
    .line {
      background: $colorDarkSecondary;
      box-shadow: 0 0 20px 5px $colorDarkSecondary;
    }
  }
}
