.header {
  position: relative;
  align-items: center;
  display: flex;
  height: $headerHeightXSmall;
  justify-content: space-between;
  max-width: 100vw;
  .logo {
    background: url('../../assets/logo.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100%;
    width: 9.375rem;
  }
  .navHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: calc(0.75rem + 1vw);
    height: 100%;
    justify-content: space-evenly;
    width: 9.375rem;

    .navActive {
      color: $colorPrimaryDarken;
      transform: scale(1.1);
    }
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background: $colorPrimaryDarken;
  transition: 5s linear;
}

// RESPONSIVE
@include small {
  .header {
    height: $headerHeightSmall;
    .navHeader {
      flex-direction: row;
      width: 100%;
    }
  }
}

@include medium {
  .header {
    height: $headerHeightMedium;
    .logo {
      width: 15.625rem;
    }
  }
}

@include large {
  .header {
    .logo {
      width: 17.1875rem;
    }
  }
}

// LANDSCAPEMODE
@media (orientation: landscape) {
  @include heightSmall {
    .header {
      height: $headerHeightSmall;
      .logo {
        width: 8.375rem;
      }
    }
  }
}

#backToTop {
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: $colorPrimary;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 20px;
  opacity: 1;
  z-index: 99999;
  transition: all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
#backToTop:before {
  content: '\25b2';
}
#backToTop:hover {
  background: $colorPrimary;
  color: $colorLight;
  transition: all ease-in 0.2s;
}
.btHidden {
  bottom: -55px;
  opacity: 0;
  transition: all ease-in 0.5s;
}

.btVisible {
  bottom: 20px;
  opacity: 1;
}

// DARK MODE
.dark {
  .header {
    .logo {
      background: url('../../assets/logoDark.png');
      background-size: cover;
      background-position: center;
    }
    .navActive {
      color: $colorDarkSecondary;
    }
    .line {
      background: $colorDarkSecondary;
      box-shadow: 0 0 20px 5px $colorDarkSecondary;
    }
    #backToTop {
      color: $colorDarkSecondary;
      background: rgba(255, 255, 255, 0.25);
    }
    #backToTop:hover {
      background: $colorDarkSecondary;
      color: $colorDark;
    }
  }
}
