.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - $headerHeightXSmall - $gap);
  @include medium {
    min-height: calc(100vh - $headerHeightMedium - $gap);
  }
}

.projectsContainer {
  color: $colorPrimaryLighten;
  padding: $gap $gapSmall;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: $gap $gapSmall;
  letter-spacing: 0.1rem;
}

.dark {
  .displayProjects {
    color: $colorDarkSecondary;
  }
}
