.buttonLink {
  background: $colorPrimary;
  color: white;
  border: 0;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: calc(0.7rem + 0.25vw);
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;

  .icon {
    color: white;
    transform: scale(1);
  }
  &:hover {
    background: $colorPrimaryDarken;

    transform: scale(1.05);
  }
}

.buttonLinkWithIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;

  .icon {
    width: calc(1.5rem + 1.5vw);
    height: calc(1.5rem + 1.5vw);
    object-fit: cover;
  }
}

.dark {
  .buttonLink {
    background: $colorDarkPrimary;
    color: $colorDark;
    &:hover {
      background: $colorDarkPrimaryDarken;

      color: $colorLight;
      .icon {
        color: $colorLight;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .icon {
    color: $colorDark;
  }
}
