.logoLinksContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  .logoLink {
    height: calc($fontSizeXSmall + $gapSmall);
    width: calc($fontSizeXSmall + $gapSmall);
    @include small {
      height: calc($fontSizeSmall + $gapSmall);
      width: calc($fontSizeSmall + $gapSmall);
    }
    @include medium {
      height: calc($fontSizeMedium + $gapSmall);
      width: calc($fontSizeMedium + $gapSmall);
    }
    @include large {
      height: calc($fontSizeLarge + $gapSmall);
      width: calc($fontSizeLarge + $gapSmall);
    }
    @include xLarge {
      height: calc($fontSizeXLarge + $gapSmall);
      width: calc($fontSizeXLarge + $gapSmall);
    }
  }
  .twitterLogo {
    fill: #1d9bf0;
  }
  .linkedinLogo {
    fill: #0a66c3;
  }
  .codingameLogo {
    height: calc($fontSizeXSmall + 3px);
    @include small {
      height: calc($fontSizeSmall + 3px);
    }
    @include medium {
      height: calc($fontSizeMedium + 3px);
    }
    @include large {
      height: calc($fontSizeLarge + 3px);
    }
    @include xLarge {
      height: calc($fontSizeXLarge + 3px);
    }
  }
}

@keyframes showLogoLinks {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.logoLinksContainer a {
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  animation: showLogoLinks 0.5s forwards;
  opacity: 0;
  transform: translateX(20px);
}

.logoLinksContainer a:first-child {
  animation-delay: 1.8s;
}

.logoLinksContainer a:nth-child(2) {
  animation-delay: 1.9s;
}

.logoLinksContainer a:nth-child(3) {
  animation-delay: 2s;
}

.logoLinksContainer a:last-child {
  animation-delay: 2.1s;
}
